<html>
	<head>
		<title>Bibliography</title>
		<link type = "text/css" rel = "stylesheet" href = "{{ url_for('static', filename='CSS/schoolframework.css') }}"/>
	</head>
	<header>
		<h1 align = "center"> Works Cited <h1>
		</header>
	<nav>
			<ul>
				<li><a href = "/">Nuclear Power and How it Works</a></li>
				<li><a href = "/nuclear">The Benefits and Concerns of Nuclear Power</a></li>
				<li><a href = "/thorium">Thorium Reactors, How Do they Work and How Will they Address Concerns With Nuclear Power?</a></li>
				<li><a href = "/bibliography">Bibliography</a></li>
			</ul>
	</nav>
	<hr>
	<body>
	
	<p>“Climate Change: Vital Signs of the Planet.” NASA, NASA, climate.nasa.gov/. <br/><br/>
Peeples, Lynne. “Can We Turn Carbon Dioxide to Stone to Fight Climate Change?” NBCNews.com, NBCUniversal News Group, 29 Aug. 2018, www.nbcnews.com/mach/science/can-we-turn-carbon-dioxide-stone-fight-climate-change-ncna904286. <br/><br/>
“Rate of Evolution.” Wikipedia, Wikimedia Foundation, 21 Feb. 2019, en.wikipedia.org/wiki/Rate_of_evolution.<br/><br/>
Solomon, Scott. “Climate Change Could Affect Human Evolution. Here's How.” NBCNews.com, NBCUniversal News Group, 29 Nov. 2018, www.nbcnews.com/mach/science/climate-change-could-affect-human-evolution-here-s-how-ncna907276. <br/><br/>
Warming to Evolution, evolution.berkeley.edu/evolibrary/news/060701_warming. <br/><br/>
Zimmer, Carl. “First Comes Global Warming, Then an Evolutionary Explosion.” Yale E360, e360.yale.edu/features/first_comes_global_warming_then_an_evolutionary_explosion.</p>
	</body>
	<footer>
		<ul>
			<li><a href = "/">Nuclear Power and How it Works</a></li>
				<li><a href = "/nuclear">The Benefits and Concerns of Nuclear Power</a></li>
				<li><a href = "/thorium">Thorium Reactors, How Do they Work and How Will they Address Concerns With Nuclear Power?</a></li>
				<li><a href = "/bibliography">Bibliography</a></li>
		</ul>
	</footer>
</html>