<html>
	<head>
		<title>Bibliography</title>
		<link type = "text/css" rel = "stylesheet" href = "{{ url_for('static', filename='CSS/schoolframework.css') }}"/>
	</head>
	<header>
		<h1 align = "center"> Works Cited <h1>
		</header>
	<nav>
			<ul>
				<li><a href = "/">Nuclear Power and How it Works</a></li>
				<li><a href = "/nuclear">The Benefits and Concerns of Nuclear Power</a></li>
				<li><a href = "/thorium">Thorium Reactors, How Do they Work and How Will they Address Concerns With Nuclear Power?</a></li>
				<li><a href = "/bibliography">Bibliography</a></li>
			</ul>
	</nav>
	<hr>
	<body>
		<ul>
			<li>a.	Hawley, R., & Turner, W. (1994). NUCLEAR POWER: THE ENVIRONMENTAL BENEFITS. Energy & Environment, 5(2), 95-103. <br> Retrieved June 1, 2021, from <a href = "http://www.jstor.org/stable/43734218">http://www.jstor.org/stable/43734218</a></li>
			<li>b.	MAITRA, R. (2006). Thorium: Preferred Nuclear Fuel Of The Future. World Affairs: The Journal of International Issues, 10(1), 98-110. <Br> Retrieved June 1, 2021, from <a href="https://www.jstor.org/stable/48577736">https://www.jstor.org/stable/48577736</a></li>
			<li>Hohenemser, C., Kasperson, R., & Kates, R. (1977). The distrust of Nuclear Power. Sciencemag.org. <br> Retrieved 8 June 2021, from <a href="https://science.sciencemag.org/content/196/4285/25">https://science.sciencemag.org/content/196/4285/25</a>.</li>
			<li>Bombing of Hiroshima and Nagasaki. HISTORY. (2021). Retrieved 10 June 2021, from <a href=https://www.history.com/topics/world-war-ii/bombing-of-hiroshima-and-nagasaki>https://www.history.com/topics/world-war-ii/bombing-of-hiroshima-and-nagasaki.</a></li>
			<li>Treaty on the Non-Proliferation of Nuclear Weapons (NPT) – UNODA. Un.org. (2021). Retrieved 10 June 2021, from <a href ="https://www.un.org/disarmament/wmd/nuclear/npt/">https://www.un.org/disarmament/wmd/nuclear/npt/</a></li>
			<li>History of Nuclear Energy - World Nuclear Association. World-nuclear.org. (2021). Retrieved 10 June 2021, from <a href =https://world-nuclear.org/information-library/current-and-future-generation/outline-history-of-nuclear-energy.aspx>https://world-nuclear.org/information-library/current-and-future-generation/outline-history-of-nuclear-energy.aspx</a></li>
			<li>A Brief History of Nuclear Accidents Worldwide. Union of Concerned Scientists. (2021). Retrieved 10 June 2021, from <a href =https://www.ucsusa.org/resources/brief-history-nuclear-accidents-worldwide>https://www.ucsusa.org/resources/brief-history-nuclear-accidents-worldwide</a></li>
			<li>Nuclear Power plant Main Parts - Mechanical Booster. Mechanical Booster. (2021). Retrieved 10 June 2021, from <a href =https://www.mechanicalbooster.com/2017/12/nuclear-power-plant.html/nuclear-power-plant-main-parts>https://www.mechanicalbooster.com/2017/12/nuclear-power-plant.html/nuclear-power-plant-main-parts</a></li>
			<li>VVER - Wikipedia. En.wikipedia.org. (2021). Retrieved 10 June 2021, from <a href =https://en.wikipedia.org/wiki/VVER></a>https://en.wikipedia.org/wiki/VVER.</li>
			<li>•	What's the difference between nuclear fission and fusion. ZME Science. (2021). Retrieved 10 June 2021, from <a href =https://www.zmescience.com/science/difference-fusion-fission>https://www.zmescience.com/science/difference-fusion-fission/.</a></li>
		</ul>
	</body>
	<footer>
		<ul>
			<li><a href = "/">Nuclear Power and How it Works</a></li>
				<li><a href = "/nuclear">The Benefits and Concerns of Nuclear Power</a></li>
				<li><a href = "/thorium">Thorium Reactors, How Do they Work and How Will they Address Concerns With Nuclear Power?</a></li>
				<li><a href = "/bibliography">Bibliography</a></li>
		</ul>
	</footer>
</html>