<html>
	<head>
		<title>The Benefits and Concerns of Nuclear Power</title>
		<link type = "text/css" rel = "stylesheet" href = "{{ url_for('static', filename='CSS/schoolframework.css') }}"/>
	</head>
	<header>
		<h1 align = "center">The Benefits and Concerns of Nuclear Power<h1>
		<div id = "banner" class = "imagebanner">
			<img src = "https://orig00.deviantart.net/4b8d/f/2013/162/8/f/forest_trees__nature_green_wood_sunlight_backgroun_by_macinivnw-d68ov5x.jpg" height = "200px" width = "1500px" alt = "404 Banner not found" align = "center">
		</div>
	</header>
	<nav>
			<ul>
				<li><a href = "/">Nuclear Power and How it Works</a></li>
				<li><a href = "/nuclear">The Benefits and Concerns of Nuclear Power</a></li>
				<li><a href = "/thorium">Thorium Reactors, How Do they Work and How Will they Address Concerns With Nuclear Power?</a></li>
				<li><a href = "/bibliography">Bibliography</a></li>
			</ul>
	</nav>
	<hr>
	<body>
		<div id = "content">
		<h2> Positives to Nuclear Power </h2>
		<img src = "https://tse3.mm.bing.net/th?id=OIP.IEpsYOOgBSjkPkGxpmRBzAHaE7&pid=Api" alt = " 404 image missing" height = "230px" width = "500px">
		<h3> Animal Adaptations </h3>
		<ul>
			<li>Adaptions are changes in animals behavior to better benefit themselves </li>
			<li>Adaptions are not Evolution because there is no change to the genetic code of the animal.</li>
			<li>For evolution to occur there has to be a heritable change to occur meaning that the animal must be able to pass on the change.</li>
			<li>Animals are moving further towards the poles as the climate near the equator become too unbearable</li>
			<li>Some animals are hibernating shorter as spring starts sooner</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		
		
		<hr>
		<h2>Animal Evolution</h2>
		<img src = "https://tse3.mm.bing.net/th?id=OIP.Gp62YPebKajAMD4VZmd8tAHaE7&pid=Api" alt= "404 image not found" height = "200px" width ="500px">
		<ul>
			<li>Can be seen in many forms as the climate changes, many examples in birds</li>
			<li>Evolution is different from adaptation as it changes the genetic code and can be passed off to the offspring, and overtime to the population</li>
		</ul>
		<hr width = "960px" align = "left">
		<h3>Evolution Examples</h3>
		<ul>
			<li>Canadian squirrel, are taking advantage of earlier spring and are breeding sooner so that they have more time to collect food</li>
			<li>The genes for breeding earlier are now propagating in the population</li>
			<li>The European great tit ( a type of bird pictured right) is also now evolving to change breeding times they lay their eggs earlier in the year as there are more caterpillars</li>
			<li>The North American mosquito has evolved, to take advantage of the greater resources, mosquitos with the genes that allow them to wait longer before going dormant for the winter live longer and have a better chance of reproducing</li>
		</div>
	</body>
	<footer>
		<ul>
			<li><a href = "/">Nuclear Power and How it Works</a></li>
				<li><a href = "/nuclear">The Benefits and Concerns of Nuclear Power</a></li>
				<li><a href = "/thorium">Thorium Reactors, How Do they Work and How Will they Address Concerns With Nuclear Power?</a></li>
				<li><a href = "/bibliography">Bibliography</a></li>
		</ul>
	</footer>
</html>