<html>
	<head>
		<title>Thorium Reactors, How Do they Work and How Will they Address Concerns With Nuclear Power?</title>
		<link type = "text/css" rel = "stylesheet" href = "{{ url_for('static', filename='CSS/schoolframework.css') }}"/>
	</head>
	<header>
		<h1 align = "center"> Thorium Reactors, How Do they Work and How Will they Address Concerns With Nuclear Power? <h1>
		<div id = "banner" class = "imagebanner">
			<img src = "https://tse4.mm.bing.net/th?id=OIP.wzZbVSRLCixAGvuZYvTKIgAAAA&pid=Api" height = "200px" width = "1500px" alt = "404 Banner not found" align = "center">
		</div>
	</header>
	<nav>
			<ul>
				<li><a href = "/">Nuclear Power and How it Works</a></li>
				<li><a href = "/nuclear">The Benefits and Concerns of Nuclear Power</a></li>
				<li><a href = "/thorium">Thorium Reactors, How Do they Work and How Will they Address Concerns With Nuclear Power?</a></li>
				<li><a href = "/bibliography">Bibliography</a></li>
			</ul>
	</nav>
	<hr>
	<body>
		<div id = "content">
		<h2> How do Thorium Reactors Work?</h2>
		<img src = "http://1.bp.blogspot.com/-gX9EkIFcY20/UBlFC9EgL5I/AAAAAAAANPA/0zE0VYUl488/s1600/ThoriumReactor.jpg" alt = " 404 image missing" height = "230px" width = "500px">
		<h3> What are Thorium Reactors and what are their benefits?</h3>
		<ul>
			<li>A thorium reactor, performs a fission reaction of a mixture of thorium and a small amount of helper material (usually uranium or plutonium) to make heat and generate energy</li><br>
			<li>Thorium is an element close to uranium on periodic table meaning that while it is naturally radioactive, it is less so than uranium.</li><br>
			<li>Thorium is much more (~3x more) commonly found on earth compared to Uranium</li><br>
			<li>Thorium is fertile, compared to Uranium, which is fissile, meaning that thorium needs a radioactive helper material to help it in fission compared to uranium which performs fission on its own </li><br>
			<li>Thorium is safer to extract, thorium can be found around the world and puts off no biproducts of mining, while Uranium puts off cancer causing gasses that must be pumped out of the mine.</li><br>
			<li>Thorium also needs no processing to be used as fuel as compared to uranium which needs to be refined. </li><br>
		</ul>
		
		<hr>
		<h2>How can we use Thorium Reactors to solve the concerns mentioned earlier?</h2>
		<img src = "https://i.pinimg.com/originals/ac/32/8c/ac328c5b097376c3a53f4146d2b5ac63.png" alt= "404 image not found" height = "200px" width ="500px">
		<h3>Evolutionary Rates</h3>
		<ul>
			<li>The first major concern people had was the short term and long-term storage of nuclear waste, thorium takes much less fuel to produce the same amount of energy as compared to uranium, meaning that there is less overall waste produced by thorium reactors. Added onto that, much of the waste is stable after only 10 years, compared to the tens of thousands of years with uranium. The stable waste products are then able to be used again in the thorium reactor in the form of the helper material making even less waste. </li><br>
			<li>The second major concern people had was radiation emanating from the plant, this is also not an issue, according to (Hawley, R. et al, 1994) even in traditional nuclear reactors, reactors are held to such a high standard that even those standing directly outside the reactor experience little to no more radiation than natural background radiation.</li><br>
			<li>Meltdowns were also a concern for many, the great thing about thorium is that it needs that helper material to react, without it the reaction stops immediately, so we can easily design reactors to separate the thorium from the helper material incase of emergency stopping a meltdown almost immediately</li><br>
			<li>Cost is a major concern if we want to see widespread adoption of nuclear power, thankfully thorium takes much less fuel to produce the same amount of power as compared to coal, oil, natural gas, or even traditional nuclear reactors meaning we can build smaller reactors and have less infrastructure to maintain compared to fossil fuels making it cheaper on utilities and consumers.</li><br>
		</ul>
		</div>
	</body>
	<footer>
		<ul>
			<li><a href = "/">Nuclear Power and How it Works</a></li>
				<li><a href = "/nuclear">The Benefits and Concerns of Nuclear Power</a></li>
				<li><a href = "/thorium">Thorium Reactors, How Do they Work and How Will they Address Concerns With Nuclear Power?</a></li>
				<li><a href = "/bibliography">Bibliography</a></li>
		</ul>
	</footer>
</html>